Repository bcgov/quickstart-openshift, pull requests merged in 2024-12, with the labels that each got.

#2193 ci: fix Results checks
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
Labels: bug, github_actions

#2194 ci: fix Results checks
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
Labels: bug, github_actions

#2199 feat: add PR numbers to PR deploys and tests
  .github/workflows/pr-open.yml
Labels: enhancement, github_actions

#2201 chore(deps): alert
  backend/package-lock.json
  backend/package.json
Labels: dependencies

#2207 ci: fix merge tags
  .github/workflows/merge.yml
Labels: bug

#2208 ci: fix merge tags (again)
  .github/workflows/merge.yml
Labels: bug, github_actions

#2209 ci: simplify merge tag
  .github/workflows/.deployer-db.yml
  .github/workflows/.deployer.yml
  .github/workflows/merge.yml
Labels: enhancement

#2214 chore(docs): Add documentation around flyway, prisma, migrations
  README.md
Labels: documentation
